certifi==2021.10.8
charset-normalizer==2.0.12
emoji==1.6.3
environs==9.5.0
et-xmlfile==1.1.0
idna==3.3
marshmallow==3.20.1
openpyxl==3.0.9
packaging==23.1
psycopg2==2.9.3
pyTelegramBotAPI==4.4.0
python-dotenv==1.0.0
requests==2.27.1
urllib3==1.26.8
